@import "../../../styles";

.base-input {
  &__wrapper {
    position: relative;

    input {
      box-sizing: border-box;
      border: 1px solid $color-border;
      border-radius: 3px;

      &::placeholder {
        font-style: italic;
        color: $color-border;
      }
    }
  }
}
